@import '../../assets/styles/settings';
.home-body{
    width: 100%;
    height: 100vh;
    background:url('../../assets/images/luca-bravo-198061-unsplash\ 1\ \(1\).png')  no-repeat;
    background-position: center;
    background-size: cover;
    .home{
        width: 80%;
        height: inherit;
        margin: 0 auto;
        display: flex;
            .right{
                display: flex;
                
                margin-top: 50px;
                margin-right: 50px;
                .info{
                    margin-left: 50px;
                    margin-right: 50px;
                    .first{
                        margin-top: 200px;
                        margin-left: 50px;
                        display: grid;
                        grid-template-columns: 30px;
                        justify-content: center;
                        align-items: center;
                        width: 25px;
                        #img-b{
                            transform: rotate(180deg);
                        }
                       
                        .line{
                            margin-left: 10px;
                            border-radius: 10px;
                            width: 5px;
                            height: 200px;
                            background-color: $white;
                            div{
                                width: 5px;
                                height: 50px;
                                background-color: $green;
                                border-radius: 15px;
                            }
                        }
                    }
                }
                .info-str{
                    font-size: 14px;
                    font-weight: 400;
                    width: 225px;
                    margin-top: 275px;
                    
                }
            }
            .left{
                padding-top: 130px;
                span{
                    #first, #last{
                        font-size: 56px;
                        font-weight: 600;
                    }
                    #first{
                        color: $green;
                    }
                }
                #p-1{
                    font-weight: 400;
                    font-size: 34px;
                    margin-top: 10px;
                }
                .span-1{
                    margin-top: 50px;
                    display: flex;
                    align-items: center;
                    font-weight: 400;
                    font-size: 18px;
                    #mark{
                        color: $green;
                    }
                }
                #btn{
                    margin-top: 70px;
                    @extend %btn;
                    padding: 15px 60px;
                    text-align: left;
                    
                }
                
            }
        }
    }
